apiVersion: apps/v1
kind: Deployment
metadata:
  name: manifest-sample-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: manifest-sample-app
  template:
    metadata:
      labels:
        app: manifest-sample-app
    spec:
      containers:
      - name: manifest-sample-app
        image: nginxdemos/hello:plain-text
        imagePullPolicy: IfNotPresent        
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "64Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: manifest-sample-svc
spec:
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http  
  selector:
    app: manifest-sample-app
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: manifest-sample-ingress
spec:
  rules:
    - http:
        paths:
          - pathType: Prefix
            path: /(/|$)(.*)
            backend:
              service:
                name: manifest-sample-svc
                port: 
                  number: 80