name: Kind Cluster Sample App
on:
  pull_request:
    paths:
      - ".github/workflows/kind_sample_workflow.yaml"
  workflow_dispatch:
    inputs:
      confirmation:
        description: "Set this to 'true' to manually run."
        required: true
        type: boolean

jobs:
  kind-sample:
    name: Kind Sample
    runs-on:
      - ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Kind Cluster Info
        run: |
          kubectl cluster-info  

      - name: Create Namespaces
        run: |
          kubectl create namespace qa   
          kubectl create namespace prod     

      - name: Apply Kubernetes Manifest
        run: |
          kubectl apply -f manifest-sample-app/deployment.yaml -n qa

      - name: Install Nginx Ingress Controller using Helm
        run: |
          helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
          helm repo update
          helm install ingress-nginx ingress-nginx/ingress-nginx --version 4.11.2

      - name: Wait for resources to be ready
        run: |          
          kubectl wait --namespace default \
            --for=condition=ready pod \
            --selector=app.kubernetes.io/component=controller \
            --timeout=90s

      - name: List Kubernetes resources
        run: |
          kubectl get all -n default
          kubectl get all -n qa
          kubectl get ingress -n qa
          kubectl get ingressclasses

      - name: Test Ingresss
        run: |
          export SAMPLE_APP_IP=$(kubectl get svc kps-dns -o jsonpath='{.spec.clusterIP}')
          curl http://SAMPLE_APP_IP

